
@{
    ViewBag.Title = "Completed";
}



<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 mt-5">
            <h2>Shopping Completed</h2>
            <h4>Your orders will be in shipping as soon as possible.</h4>
        </div>
    </div>
</div>



